---
Checks: 'bugprone-*,
-bugprone-macro-parentheses,
-bugprone-misplaced-widening-cast,
-bugprone-narrowing-conversions,
-bugprone-too-small-loop-variable,
-bugprone-exception-escape,
misc-*,
-misc-non-private-member-variables-in-classes,
-misc-definitions-in-headers,
modernize-loop-convert,
modernize-use-default-member-init,
modernize-make-shared,
modernize-make-unique,
modernize-use-bool-literals,
modernize-use-emplace,
modernize-use-nullptr,
modernize-use-using,
modernize-deprecated-headers,
modernize-use-override,
readability-*,
-readability-magic-numbers,
-readability-uppercase-literal-suffix,
-readability-named-parameter,
-readability-convert-member-functions-to-static,
cppcoreguidelines-pro-type-cstyle-cast,
cppcoreguidelines-pro-type-static-cast-downcast,
cppcoreguidelines-init-variables,
cppcoreguidelines-narrowing-conversions,
cppcoreguidelines-avoid-goto,
google-readability-casting,
google-build-using-namespace,
'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassMemberPrefix
    value: ms_
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.MemberPrefix
    value: m_
  - key: readability-identifier-naming.ClassMethodCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: CamelCase
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: gs_
  - key: readability-identifier-naming.StaticVariableCase
    value: camelBack
  - key: readability-identifier-naming.StaticVariablePrefix
    value: s_
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.ParameterPrefix
    value: a_
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key: misc-assert-side-effect.CheckFunctionCalls
    value: 1
  - key: misc-assert-side-effect.AssertMacros
    value: 'assert'